.raise:hover{
    box-shadow: 0 0.5em 0.5em -0.2em #8fc866;
    transform: translateY(-0.25em);
    color:#8fc866;
    border-color: #8fc866;
    transition: 0.;
}
button {  
    color: #ffa260;
    transition: 0.25s;
    
   
  }
body {
    color: #fff;
    background: hsl(227, 10%, 10%);
    font: 300 1.5em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
  }
button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 15px;

  }
